---
{ "title": "StockDock" }
---

<div class="md:bg-gray-100 rounded-xl md:mx-auto w-full overflow-hidden md:w-1/2 p-5 md:p-0">
  <div class="p-5 space-y-10 flex flex-col justify-center">
    <div class="w-full">
      <div id="send" class="p-3 cursor-default rounded-lg w-full font-bold text-white border outline-none shadow bg-gradient-to-r from-purple-600 to-blue-500 flex justify-center">
        Join With StockDock
      </div>
    </div>
    <div class="space-y-3">
      <div class="flex justify-center items-center space-x-5 text-blue-500">
        <img class="w-10" src="img/zerodha.png" alt="">
        <a href="https://zerodha.com/?c=HL0219">
          Zerodha
        </a>
      </div>
      <div class="flex justify-center items-center space-x-5 text-blue-500">
        <img class="w-10" src="img/upstox.png" alt="">
        <a href="https://bv7np.app.goo.gl/YDnP">
          Upstox
        </a>
      </div>
      <div class="flex justify-center items-center space-x-5 text-blue-500">
        <img class="w-10" src="img/groww.png" alt="">
        <a href="https://groww.app.link/refe/anuj1767182">
          Groww
        </a>
      </div>
    </div>
    <div class="flex space-x-5 justify-center">
      <a href="https://www.facebook.com/StockDock2021">
        <i class="fab fa-facebook text-2xl text-blue-600"></i>
      </a>
      <a href="https://www.instagram.com/_stockdock/">
        <i class="fab fa-instagram text-2xl text-pink-500"></i>
      </a>
      <a href="https://twitter.com/_stockdock">
        <i class="fab fa-twitter text-2xl text-blue-400"></i>
      </a>
      <a href="https://wa.me/919082401860">
        <i class="fab fa-whatsapp text-2xl text-green-400"></i>
      </a>
    </div>
  </div>
</div>