---
{ "title": "StockDock" }
---

<div class="md:bg-gray-100 rounded-xl md:mx-auto w-full overflow-hidden md:w-1/2 p-5 md:p-0">
  <div class="p-5 space-y-10 flex flex-col justify-center">
    <div class="w-full">
      <div id="send" class="p-3 cursor-pointer rounded-lg w-full font-bold text-white border outline-none shadow bg-gradient-to-r from-purple-600 to-blue-500 flex justify-center">
        Thank You!
      </div>
    </div>
    <div class="space-y-3">
      <p class="text-center">
        you have succesfully registered for session
      </p>
      <p class="text-center">
        you will get the session link in the email
      </p>
    </div>
    <div class="flex space-x-5 justify-center">
      <i class="fab fa-facebook text-2xl text-blue-600"></i>
      <i class="fab fa-instagram text-2xl text-pink-500"></i>
    </div>
  </div>
</div>