---
{ "title": "StockDock" }
---

<div class="md:bg-gray-100 rounded-xl md:mx-auto w-full overflow-hidden md:w-1/2 p-5 md:p-0">
  <div class="p-5 space-y-10 flex flex-col justify-center">
    <div class="w-full">
      <div id="send" class="p-3 cursor-default rounded-lg w-full font-bold text-white border outline-none shadow bg-gradient-to-r from-purple-600 to-blue-500 flex justify-center">
        Thank You!
      </div>
    </div>
    <div class="space-y-3">
      <p class="text-center">
        You have successfully registered yourself for the session.
      </p>
      <p class="text-center">
        Confirmation mail alongwith session link will be sent soon.
      </p>
    </div>
    <div>
      <div class="flex space-x-5 justify-center">
        <a href="https://www.facebook.com/StockDock2021">
          <i class="fab fa-facebook text-2xl text-blue-600"></i>
        </a>
        <a href="https://www.instagram.com/_stockdock/">
          <i class="fab fa-instagram text-2xl text-pink-500"></i>
        </a>
        <a href="https://twitter.com/_stockdock">
          <i class="fab fa-twitter text-2xl text-blue-400"></i>
        </a>
        <a href="https://wa.me/919082401860">
          <i class="fab fa-whatsapp text-2xl text-green-400"></i>
        </a>
      </div>
      <div class="text-sm text-blue-500 flex justify-center">
        <a href="/join">
          Join With StockDock
        </a>
      </div>
    </div>
  </div>
</div>